
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoIndex</title>
</head>
<body>
    <div>
        <p>Index in demo</p>
        <p>Anonymous access is allowed.</p>
    </div>
</body>
</html>
