
@{
    Layout = null;
}

@using CustomAuthMVC.Security

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work3</title>
</head>
<body>
    <div>
        Work 3
        <br />
        Welcome @SessionPersister.Username
        <br />
        <a href="@Url.Action("Logout", "Account")">Logout</a>
    </div>
</body>
</html>
