
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcccessDeniedIndex</title>
</head>
<body>
    <div>
        Access Denied.
    </div>
</body>
</html>
